body {
    
    background-color:rgb(239, 187,76);
}

  .container {
    display:flex;
    justify-content:right;
    width: 100%;
    margin-top:0%;

}
 .card {
     background-color: #ffffff80;
     padding: 30px;
     border-radius: 4%;
     box-shadow: 3px 3px 1px 0px #00000060;
     margin-top: 0%;
     
 }
 
 h1{
    text-align:center;
    margin-bottom: 20px;
    color:#272262;
    font-size: 80px;
    font-family:serif;
}

p{
    text-align: center;
    color:black;
    font-family:sans-serif;
    font-size: 20px;
}

 h2{
     text-align:center;
     margin-bottom: 20px;
     color:#272262;
    
 }

 .google-icon {
	height: 15px;
	width: 15px;
	margin-left: 10px;
}
