body {
    background-image: url(../../assets/background-login.jpg);
    background-size: cover;
    overflow: hidden;
}

.container {
    display: inline-block;
    align-items: center;
    width: 100%;
    max-width: 700px;
    height: 30vw;
    padding: 10px;
}

.box {
    background: #5f5b5be7;
    width: 90%;
    box-shadow: inset 0 0 1em black, 0 0 2em black;
    border-radius: 15px;
    position: absolute;
    top: 13%;
    left: 5%;
    padding: 5%;        
}

.banner  {
    display: flex;
    width: 100%;
    justify-content:space-between;
    margin-bottom: 10%;
}
  
.banner img {
    width: 30%;
}

.title-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: "Aquatico";
    font-size: 25pt;
}

.subtitle {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 15pt;
}

.input {
    width: 250px;
    height: 40px;
    margin-top: 5px;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-size: 12pt;
    padding: 2%;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin:2% 0;
    cursor: pointer;
}

.input:hover {
    border: solid 1px #000;
}

.form {
    text-align: center;
    margin-top: 5%;
}

.buttons {
    width: 30%;
    height: 40px;
    margin-top: 3%;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 12pt;
    font-weight: bolder;
}

.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin p {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 15pt;
    font-weight: bolder;
    margin: 5% 0 5% 0;
}

.signin-button {
    border: solid 1px #000;
    transition: 0.5s ease-in-out;
}

.signin-button:hover{
    background-color: #000;
    color: #FFF;
}

.signup-button {
  background-color: rgba(0, 0, 255, 0);
  border: none;
  cursor: pointer;
  font-size: larger;
  margin-top: -1%;
  color: #f3f3f3;
  width: 103%;
  font-size: 15pt;
  font-weight: lighter;
}

span{
  color: black;
  transition: 0.5s ease-in-out;
}

span:hover {
    color: #f3f3f3;
}

.google-button {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5% 5% 5%;
    background-color: #000;
    border: solid 1px #000;
    transition: 0.5s ease-in-out;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: #FFFF;
}

.google-button:hover {
    background-color: #FFFF;
    color: #000;
}

.google-icon-btn {
    width: 10%;
}

.firebaseui-auth-container {
    margin: 5% 0 15% 0;
}

/*RESPONSIVIDADE DESKTOP*/
@media screen and (min-width: 1366px) {

    body {
        background-image: url(../../assets/background-login.jpg);
        background-size: contain;
        background-position: top;
        overflow: hidden;
    }

    .box {
        background: #ffffff71;
        width: 500px;
        box-shadow: inset 0 0 1em black, 0 0 2em black;
        border-radius: 15px;
        position: absolute;
        top: 13%;
        left: 60%;
        padding: 5%;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: inline-block;
        align-items: center;
        width: 300px;
        max-width: 700px;
        padding: 10px;
        position: absolute;
        top: 7%;
    }

    .banner img {
        width: 40%;
    }

    .title-container {
        margin-left: 5%;
    }
    
    .title {
        font-family: "Aquatico";
        font-size: 3em;
    }
    
    .subtitle {
        font-family: 'Averia Sans Libre', cursive;
        font-size: 1.5em;
    }

    .banner {
        margin-left: -18%;
    }

    .input {
        width: 270px;
    }

    .signin-button {
        width: 40%;
    }


}

