@import url("../../components/popup/style.css");

/*** Botões dos posts ***/

.iconContainer {
  padding: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 80px;
  background-color: #fafafa;
}

.fa-heart::before {
  font-size: 25px;
  color: #ffd632;
}

.numLikes {
  color: black;
}

.fa-edit::before {
  font-size: 25px;
  color: #ffd632;
  padding: 5px;
  margin-right: 1%;
  width: 60px;
}

.edition-btns {
  display: none;
  margin: -4px;
}

.fa-check-square::before {
  font-size: 25px;
  color: #ffd632;
  padding: 5px;
  margin-right: -10px;
  width: 60px;
}

.fa-window-close::before {
  font-size: 25px;
  color: #ffd632;
  padding: 5px;
  margin-right: 25px;
  width: 60px;
}

.likeBtn {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 1%;
  background-color: #ffd632;
  color: #1f1f4b;
  width: 60px;
  display: block;
}

/*.editBtn {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 1%;
  background-color: #ffd632;
  color: #1f1f4b;
  width: 60px;
  display: none;
}*/

.deleteBtn {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 1%;
  background-color: #ffd632;
  color: #1f1f4b;
  width: 60px;
  display: none;
  }
