.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-timeline {
  align-items: center;
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  height: auto; 
  font-family: inherit;
  font-size: inherit;
}

.header {
  margin: 1.25rem;
}

.header-homepage {
  margin: 0 1.35rem 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  padding: 0.25rem;
  align-items: center;
  border-bottom: 1px solid var(--white-color);
}

.inicial-page{
  font-size: 1.125rem;
  color: var(--white-color);
}

.loading-posts{
  margin: 1rem;
  color: var(--black-color);
  background: #F8E7B5;
  border-radius: 0.25rem;
}

.post-form,
.post-text {
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  max-width: 42rem;
  border-radius: 5px;
  align-items: flex-end;
  border: none;
  width: 100%;
  background: var(--rose-light);
  outline: none;
}

.text {
  margin-top: 1.5rem;
}

.post-text {
  padding: 1rem;
  font-size: 1rem;
  align-self: flex-start;
  width: 100%;
}

.text-user {
  opacity: 65%;
  display: flex;
  width: inherit;
  padding: 1rem;
}

.post, 
#edit-area {
  display: flex;
  margin: 1rem;
  min-width: 18rem;
  max-width: 42rem;
  max-height: fit-content;
  border-radius: 5px;
  flex-direction: column;
  background-color: var(--rose-light);
}

#postList {
  margin: inherit;
}

.send-post {
  width: 3.75rem;
  background-color: var(--orange-color);
  outline: none;
  border-radius: 0.25rem;
  border: none;
  padding: 8px;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  color: var(--white-color);
  position: relative;
  right: 2%;
  bottom: 8%;
  cursor: pointer;
  margin: 8px;
}

.user-photo {
  width: 4rem;
  height: 3.8rem;
  border-radius: 50%;
}

.edit-btn {
  background-color: transparent;
  border: none;
}

.confirm-edit {
  width: fit-content;
  background-color: var(--orange-color);
  outline: none;
  border-radius: 0.25rem;
  border: none;
  padding: 8px;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  position: relative;
  bottom: 24%;
  right: 140%;
  color: var(--white-color);
  cursor: pointer;
  height: auto;
}

#edit-area {
  border:2px groove white;
  border-radius: 5px;
}

.delete-edit-buttons {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.user-perfil-header {
  width: 5rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-perfil {
  display: flex;
  margin: 10px;
}

.user-name, .date-post  {
  padding: 0.25rem;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.user-post {
  display: flex;
  padding: 1rem;
  word-break: break-word;
}

.post-field {
  display: flex;
  height: fit-content;
}

.logout {
  cursor: pointer;
  background: var(--orange-color);
  text-align: center;
  border-radius: 50%;
  border: none;   
  width: 2.2rem;
  height: 2.2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 0.55rem;
}

.logout:hover {
  background: var(--orange-light-color);
  transition: 0.2s;
}

.logout-img {
  border: 1px;
  width: 2rem;
  height: 2rem;
  padding: 3px;
}

.delete-post, .edit-post, .like-post  {
  display: flex;
  align-self: flex-end;
  position: absolute;
  width: 45px;
}

.delete-text {
  width: 100%;
}

.edit-text {
  margin: 7px;
}

.delete-btn {
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
}

.fa-heart:before {
  content: "\f004";
  color: var(--orange-color);
  width: 0px;
  font-size: 22px;
  cursor: pointer;
}

.fa-heart:hover {
  cursor: pointer;
  text-shadow: 0px 0px 10px #ff6f15, 0px 0px 20px #F28705, 0px 0px 30px #f98204;
}

.like-post {
  position: relative;
  left: 3%;
  align-self: flex-start;
}

.btn-like {
  background: none;
  display: flex;
  border: none;
}

.likes{
  margin: 5px;
  font-size: 15px;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.close {
  color: var(--orange-light-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button {
  background: var(--white-color);
  border: 1px solid var(--orange-color);
}

.date-post {
  font-size: 15px;
  color: rgb(110, 118, 125);
}

.user-interations{
  display: flex;
  justify-content: flex-start;
  flex-direction: inherit;
  height: 2rem;
}

.edit-post {
  position: relative;
  bottom: 83%;
  right: 8%;
}

.delete-confirm, .close-button {
  background: var(--orange-color);
  width: auto;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
  cursor: pointer;
}

.delete-container {
  justify-content: center;
  width: 100%;
} 

.close:hover,
.close:focus {
  color: var(--orange-color);
  text-decoration: none;
  cursor: pointer;
}

.delete-confirm:hover,
.close-button:hover {
  cursor: pointer;
}

.delete-confirm:hover {
  background: var(--orange-light-color);
  transition: 0.5s;
}

.close-button:hover {
  background: var(--orange-light-color);
  transition: 0.5s;
}

@media(min-width: 1024px) {

  textarea {
    width: 100%;
    
  }

  .header-homepage {
    display: grid;
    width: 18rem;
    grid-column: 1;
    margin: auto;
    height: 100vh;
    background: var(--blue-light);
    justify-content: center;
    position: fixed;
}
  

  .container-timeline {
    align-items: inherit;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 18rem auto;
    grid-template-rows: 10rem auto;
  }
  
  .post-form, .post {
    grid-column: 2;
    justify-self: center;
    margin: 1rem auto;
    width: 100%;
  }

  .inicial-page {
    justify-self: center;
  }

  .user-perfil-header {
    width: 100%;
  }

  .user-photo-header {
    width: 10rem;
  }

  .logout {
    margin: auto;
    width: 2.5rem;
    height: 2.5rem;
  }

  .loading-posts {
    display: none;
  }

  #postsList {
    justify-self: center;
    grid-column: 2;
  }

  .modal-content {
    width: 30%;
  }
  
  .delete-text {
    width: 100%;
    font-size: 1rem;
  }

  .edit-post {
    position: relative;
    bottom: 83%;
    right: 5%;
  }
}
