/*********** PARTE DO POP UP *************/
.popup-wrapper {
    background-color: rgba(216, 229, 238, 0.5)/* rgba(247, 241, 241, 0.5)*/;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    z-index: 3;
  }
  
  .popup {
    text-align: center;
    width: 60%;
    margin: 10% auto;
    padding: 20px;
    background: #1f1f4b;
    position: relative;
    color: black;
    box-shadow: 0px 0px 20px rgb(21, 2, 71);
    border-radius: 10px;
    z-index: 3;
  }
  
  .popup-close {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    padding: 15px;
    background-color: #ffd632;
    color: #1f1f4b;
    font-weight: 900;
    border-radius: 50%;
    box-shadow: 0px 0px 30px #000;
    z-index: 3;
  }
  
  .popup-content {
    background-color: whitesmoke;
    padding: 5px;
    margin: 10px auto;
    text-align: justify;
    width: 50%;
    z-index: 3;
    color:black;
    font-size: larger;
    position: absolute;
  }
  
  
  
  