body {
    background: linear-gradient(-135deg, #27282A, #666562, #9b9b9b);
    height: 100%;
    overflow: scroll;
}

.box {
    position:unset;
    top: 0%;
    left: 0%;
    background: none;
    box-shadow: none;
    width: 100%;
    padding: 0;
}

.container {
    padding: 0px;
}

.banner-menu {
    position: fixed;
    padding: 10px 10px 20px 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    background-color: #9b9b9b;
}

.buttons {
    width: 30%;
    height: 40px;
    margin-top: 3%;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 12pt;
    font-weight: bolder;
}

.menu {
    background: #990707;
    border: solid 3px #000;
    border-radius: 50%;
    top: 23%;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
    height: 45%;
    position: absolute;
    right: 3%;
    transition: box-shadow 1.1s cubic-bezier(.19,1,.22,1);
    width: 10%;
    z-index: 2;
}

.menu:hover {
    box-shadow: 0 0 0 5px #FFF, 0 0 0 5px #FFF;
}

.hamburger {
    position: relative;
    top: 50%;
    left: 30%;
    width: 40%;
    height: 8%;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}

.hamburger:after,
.hamburger:before {
        background: #000;
        content: "";
        display: block;
        transition: .5s ease-in-out;
        position: absolute;
        width: 100%;
        height: 100%;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    bottom: -10px;
}

.input {
    display: none;
}

.input:checked ~ label .menu {
    box-shadow: 0 0 0 130vw #FFF, 0 0 0 130vh #FFF;
}

.input:checked ~ label .hamburger {
    transform: rotate(45deg);
}

.input:checked ~ label .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}

.input:checked ~ label .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

.input:checked ~ ul {
    opacity: 1;
    visibility: visible;
}

.inside-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 45px;
    opacity: 0;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    visibility: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.upload-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-div {
    visibility: hidden;
}

.inputImg {
    display: flex;
}

.upload-photo:hover > div {
    visibility: visible;
}

#nope {
    display: none;
}

.photo-buttons{
    display: none;
}

#nope:checked ~ .photo-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow{
    padding: 13px;
    box-shadow: 5px -5px 0 0px #990707 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(315deg);
    cursor: pointer;
}

.boxnope{ 
    font-size: 0.3em;
    text-align: center;
    line-height: 13px;
    color: rgb(255, 255, 255);
    width: 122px;
    height: 35px;
    background: rgb(235,133,105);
    background: linear-gradient(61deg, rgba(235,133,105,1) 27%, rgba(235,108,105,1) 67%);
    font-family: "Work Sans", sans-serif;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin: 8px 0px 10px 0px;
}

.enviar-button{
    color: #34cb5e;
    background: #fff;
    border: 1px solid #34cb5e;
    font-size: 0.3em;
    padding: 3px 55px 3px 55px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Work Sans", sans-serif;
}

.enviar-button:active{
    color:#fff;
    background:#34cb5e;
}

input[type='file'] {
    display: none 
}

.labelfile{
    border-radius: 5px;
    color: rgb(148, 148, 148);
    cursor: pointer;
    margin: 10px;
    padding: 6px 11px;
    border-style: dashed;
    font-size: 0.3em;
    font-family: "Work Sans", sans-serif;
}

.labelfile:hover{
    color: #990707d8;
}
.username-menu {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 20pt;
}

.user-photo-menu {
    width: 100px;
    border-radius: 50%;
    border: solid 3px #000;
}

.email-menu {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 12pt;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    margin-top: 155%;
}

.banner  {
    display: flex;
    width: 100%;
    justify-content:flex-start;
    margin-bottom: 0;
}

.banner img {
    width: 15%;
}

.title-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2% 0 0 2%;
}

.title {
    font-family: "Aquatico";
    font-size: 15pt;
}

.subtitle {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 10pt;
}

.timeline-buttons {
    border: none;
    background: none;
}

.timeline-buttons:hover {
    animation:shake 2s infinite;
    cursor: pointer;
}

.posts-box {
    margin:5% 0 5% 0;
}

.post-container {
    font-family: 'Averia Sans Libre', cursive;
    background-color: beige;
    border-radius: 5px;
    padding: 3%;
    margin: 0 3% 1% 3%;
}

.post-textarea {
    font-family: "Work Sans", sans-serif;
    background-color: ghostwhite;
    border-radius: 5px;
    padding: 2%;
    resize: none;
    width: 95%;
    margin-top: 30%;
    margin-left: 2%;
    border: 1px solid gray;
}

.post {
    background-color: rgb(255, 218, 169);
    padding: 3%;
    border-radius: 5px;
    border: none;
    resize: none;
    width: 100%;
    font-family: "Work Sans", sans-serif;
    color:#000;
}

.edit-container {
    border: solid 1px #bee4c9;
    border-radius: 5px;
    padding: 3%;
}

.edited-post {
    background-color: #bee4c9;
    height: 40px;
}

.edit-buttons-container {
    display: flex;
    justify-content: space-between;
}

.save-edit-button, .close-edit-button {
    width: 18%;
    height: 25px;
    font-size: 0.75em;
    border: solid 1px #000;
    transition: 0.5s ease-in-out;
    margin-top: 2%;
}

.save-edit-button:hover {
    background-color: #34cb5e;
}

.close-edit-button:hover {
    background-color: #990707d8;
}

.empty-text {
    font-family: "Work Sans", sans-serif;
    font-size: 0.7em;
}

.post-button {
    width: 20%;
    font-size: 10pt;
    margin-top: 1%;
    height: 30px;
    margin-left: 77%;
    border: solid 1px #000;
    transition: 0.5s ease-in-out;
}

.post-button:hover {
    background-color: #B8824C;
}

.buttons-container {
    margin-left: 86%;
}

.like-comment{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-top: 2%;
}

.signout-button {
    position: absolute;
    left: -7%;
    border: none;
    background: none;
    cursor: pointer;
}

.signout-button img {
    width: 32%;
}

.user-container {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.user-photo {
    width: 12%;
    border-radius: 50%;
    border: solid 1px #000;
}

.username-date-container {
    margin-left: 2%;
}

.date {
    font-size: 9pt;
}

.loading-post {
    font-family: "Work Sans", sans-serif;
}


/*RESPONSIVIDADE DESKTOP*/
@media screen and (min-width: 1366px) {

    body {
        background-image: url(../../assets/background-login.jpg);
        background-size: contain;
        background-position: top;
    }

    .box {
        background: #ffffff71;
        width: 500px;
        box-shadow: inset 0 0 1em black, 0 0 2em black;
        border-radius: 15px;
        position: absolute;
        top: 13%;
        left: 60%;
        padding: 5%;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: inline-block;
        align-items: center;
        width: 300px;
        max-width: 700px;
        padding: 10px;
        position: absolute;
        top: 7%;
    }

    .banner img {
        width: 40%;
    }

    .title-container {
        margin-left: 5%;
    }
    
    .title {
        font-family: "Aquatico";
        font-size: 3em;
    }
    
    .subtitle {
        font-family: 'Averia Sans Libre', cursive;
        font-size: 1.5em;
    }

    .banner {
        margin: -9% 0 16% -22%;
    }

    .input {
        width: 280px;
    }

}

