* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

/* Header */
.header-feed {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 20px 0;
  /*display: grid; */
  position: relative;
  width: 100%;
  align-items: center;
  top: 0;
  z-index: 10;
}
.logo {
  color: #49bf9e;
  font-size: 25px;
  font-family: "Chewy", cursive;
}

.header_menu {
  text-align: right;
  font-family: "Poppins";
}
.header_menu li {
  list-style: none;
}

.header_menu a {
  text-decoration: none;
}
.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #49bf9e;
}

.header_menu ul li a.menu_ativo {
  /* Faz com que o menu "SOBRE" fique branco, para vizualisar onde você está */
  color: #fff;
}
.sidenav {
  padding-top: 100px;
  padding-left: 50px;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  height: 100vh;

  z-index: 9;
  background: black;
}
.sidenav li a {
  display: block;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
  padding: 30px;
}

.img li a {
  padding: 20px;
  margin: 0px 10px 10px 0;
}
.sidenav > ul {
  width: 70px;
  text-align: center;
  border-radius: 5px;
}
.sidenav > div:first-child {
  margin-right: 30px;
}

.sidenav span {
  display: block;
  color: #fff;
  background: linear-gradient(135deg, #d930ac, #b07dfb);
  width: 130px;
}
.sidenav span:hover {
  background: linear-gradient(135deg, #d930ac, #49bf9e);
}
.rotulo {
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  position: relative;
  top: 2px;
  font-size: 14px;
  text-transform: uppercase;
}

/*textarea*/
#post-text {
  margin: 20px 20px 25px auto;
  margin-right: 450px;
  display: flex;
  border: solid;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-publicar {
  margin: 20px 20px 25px auto;
  margin-right: 450px;

  width: 50px;
  height: 50px;
  background: #49bf9e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
