* {
    margin: 0;
    padding: 0;
    list-style: none;
    /* background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
    background: linear-gradient(to right, #2a5298, #1e3c72);  */
}

#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: #fff;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
    content: "";
}

#burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
}

#burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 16px;
}

#burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 20px;
}

#burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}

#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}

#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

#menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;

}

#menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.5);
}

#menu li {
    list-style: none;
}

#menu a {
    color: #fff;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
}

/*fim do menu hamburguer
.profile {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 20;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
    border: solid 2px #000;
    border-radius: 20px;
    margin: 25px;
    text-align: center;
}

*/

.profile img {
    border-radius: 100%;
    max-block-size: 140px;
}

.profile h3 {
    font-style: bold;
    padding: 20px;
}

.profile textarea {
    font-size: 1rem;
    border: solid 1px #000;
    max-width: inherit;
}

.post-area {
    margin-left: 240px;
    padding: 0px 10px;
    text-align: center;
}

@media screen and (max-height: 450px) {
    .profile {
        padding-top: 15px;
    }

    .profile h3 p {
        font-size: 18px;
    }
}