@import url('../../components/header/style-header.css'); 

.feed-container{
  display: flex;
  justify-content: center;  
}

.postContainer {
  width: 80vw;
  height: 26vh; 
  margin-top: 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);      
}

.mainPost {
  background-color:#1f1f4b ;
}

.formContainer {
  width: 100%;
  height: 100%;
}

.postContent {
  width: 100%;
  height: 55%;
  color: black;
  margin: 0;
  padding: 10px 10px 0;
}

.post-header {
  color: white;
  padding: 10px;
  background-color: #1f1f4b;
  border-radius: 10px 10px 0 0 ;
  box-shadow:0 5px 5px rgba(0, 0, 0, 0.2);    
}

.postBtnContainer {
  display: flex;
  justify-content: flex-end;   
  padding: 10px 10px 0 0;   
  margin-top: -3px; 
}

.publishBtn {
  border: none;
  border-radius: 5px;
  padding: 3px;
  background-color: #ffd632;
  color: #1f1f4b;
  width: 60px;
  
}
/*
.feed-postContainer {
  width: 40vw;
  height: 25vh;
  margin-top: 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto; 

}
*/



@media screen and (min-width: 1024px) {
  .postContainer{
    width: 50vw;        
  }  
}

