.postContainer {
  width: 40vw;
  height: 22vh;
  margin-top: 60px;
  background-color: #1f1f4b;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.postHeader {
  color: white;
  padding: 12px;
}

.formContainer {
  width: 100%;
  height: 100%;
}

.postInput {
  width: 100%;
  height: 50%;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;  
  font-size: 12px;
  padding: 7px;
}

.publishBtn {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffd632;
  color: #1f1f4b;
  width: 60px;
}

.feed-postContainer {
  width: 40vw;
  height: 25vh;
  margin-top: 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.feed-postHeader {
  color: white;
  padding: 10px;
  background-color: #1f1f4b;
  border-radius: 10px 10px 0 0 ;
}

.postText {  
  color: black;
  width: 100%;
  height: 60%;
  margin: 0;
  padding: 10px 10px 0;
}

@media screen and (max-width: 768px) {
    .feedContainer{
      width: 70vw;
      height: 30vh;
    }
}
  
