.background-color-main {
  background-color: #f0eae7;
}

header {
  justify-content: flex-start;
  width: 100%;
  padding-top: 10%;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.searchBar {
  width: 80%;
  height: 0.6vh;
  color: #706f6b;
  background-color: var(--color-white);
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

input.searchBar {
  box-shadow: none;
}

.btn-logout {
  background-color: var(--color-primary);
  border-radius: 50px;
  width: min-content;
  padding: 0.2rem 0.5rem;
  color: var(--color-background);
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5% 0;
}

h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.0168em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #213d3e;
}

section.post {
  margin-top: 5%;
}

/* a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-weight: normal;
    color: var(--color-gray);
    line-height: 20px;
    letter-spacing: 0.0168em;
    padding: 2% 0% 5% 5%;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-gray);
  padding: 0%;
  align-self: flex-end;
} */

.warn-input-add{
  color: #fb1d30;
  font-size: 0.8rem;
  margin-bottom: 2vh;
} 


form {
  justify-content: center;
  text-align: center;
  font-size: small;
  margin-top: 1%;
}

.btn {
    height: 5vh;
    width: 17vh;
    border-radius: 50px;
    background: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.0168em;
    color: #FFD2BF;
    margin: 0% 20% 3% 20%;
}

section#postTemplate {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.header-post {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

p.username {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 13px;
  color: #f78563;
  text-align: left;
  margin-bottom: 3%;
}

button#btn-drop {
  background-color: #ffffff;
}

.dropdown {
  position: relative;
  display: inline-end;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.dropdown-content a {
  color: #706f6b;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7vh;
  text-decoration: none;
  padding: 1vh 1.5vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

div.content {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
}

textarea {
  margin-left: 5%;
  height: 7vh;
  width: 70%;
  overflow: scroll;
}

.box {
  width: 42vh;
  height: 15vh;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin: 4% 0;
  padding: 2% 0 2% 2%;
  /* text-align: -webkit-center; */
}

.textBox {
  width: 42vh;
  height: 10.7vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.0168em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 14px;
  padding-left: 2vh;
}

p.text-post {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vh;
  line-height: 11px;
  letter-spacing: 0.0168em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  /* arrumar max-width do .content p */
}

.btn-inside {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: min-content;
  color: #ffffff;
  margin-top: 1vh;
  margin-left: 29vh;
}

button.btn-actions {
  margin: 3px 0px;
}

.iconify[data-icon="ri:image-add-fill"],
[data-icon="mdi:send-circle"] {
  color: #213d3e;
  background-color: #ffffff;
  font-size: 1.3vh;
}

.iconify [data-icon="bi:person-circle"] {
  color: #706f6b;
  background-color: #ffffff;
}

.iconify [data-icon="akar-icons:home"],
[data-icon="clarity:plus-circle-line"],
[data-icon="akar-icons:person"] {
  color: #ffd2bf;
}

.iconify [data-icon="clarity:notification-outline-badged"] {
  color: #f78563;
}

section.actions {
  margin-top: 3vh;
  float: right;
}

.btn-more {
  color: #706f6b;
  background-color: #f9f9f9;
  font-size: 1.3vh;
}

nav {
  width: 100%;
  height: 72px;
  background-color: #f78563;
  border-radius: 30px 30px 0 0;
  position: absolute;
}

li {
  position: relative;
  display: inline-flex;
}

ol,
ul {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* .navbar ul li {
    display: inline-block;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
} */

 .container-areaPost {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    margin-top: 4vh;
    width: 80%;
    padding: 1%;
  }

/* section.post {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFD2BF;
    border-radius: 0px 0px 30px 30px;
    transform: rotate(-180deg);
}  */

.mobile-list {
  /* display: inline-block; */
  bottom: 0;

  position: fixed;
  width: 100%;
}

/* svg:active {
    display: none;
    change to when active: <span class="iconify" data-inline="false" data-icon="bi:plus-circle-fill" style="color: #FFD2BF;"></span>;
} */

svg {
  height: 2.4em;
  width: 2.4em;
}

path,
circle {
  stroke-width: 1;
}

.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-end;
  float: right;
}
.dropbtn {
  background-color: #f9f9f9;

}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.dropdown-content a {
  color: #706f6b;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7vh;
  text-decoration: none;
  padding: 1vh 1.5vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.editable-content {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fb1d30;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.iconify [data-icon="bytesize:trash"],
[data-icon="bytesize:edit"],
[data-icon="carbon:save"],
[data-icon="ph:dots-three-duotone"] {
  color: #706f6b;
  background-color: #ffffff;
  font-size: 1.3vh;
}

/* POPUP DE CONFIRMAÇÃO */
.popup-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;
  z-index: 3;
}

.popup {
  text-align: center;
  width: 60%;
  min-width: 300px;
  margin: 10% auto;
  padding: 20px;
  background: #171820;
  position: relative;
  color: #fff;
  box-shadow: 0px 0px 30px #000;
  border-radius: 10px;
  z-index: 3;
}

.popup-close {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  padding: 15px;
  background-color: #8985fb;
  color: #fff;
  font-weight: 900;
  border-radius: 50%;
  box-shadow: 0px 0px 30px #000;
  z-index: 3;
}

.popup-content {
  background-color: #171820;
  padding: 5px;
  margin: 10px auto;
  text-align: justify;
  min-width: 300px;
  z-index: 3;
}

.popup-content h3 {
  font-size: 1.2em;
  text-align: center;
  font-weight: 500;
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
  text-transform: capitalize;
  z-index: 3;
}

.heart {
  stroke-width: 4;
  color: red;
  background-color: #ffffff;
}

.active {
  content: url('./src/img/heart-filled.png');
  animation: animateHeart 1s;

}