/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    header.esmaeceHeader, .logotipo-text {
        display: none;
    }

    .mainSection-background-opacity {
        background-image: url(../../img/opacobg.jpeg);
        background-color: var(--color-background);
        background-attachment: fixed;
        background-repeat: repeat-x no-repeat;
        background-position-x: right;
        background-size: 50%;
        padding: 0% 5% 0% 0%;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: row;
        align-items: center;
    }

    .logo-above-bg{
        background-image: url(../../img/logo.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 20vw;
        height: 20vw;
        margin-left: 16vw;
    }

    .without-opacity {
        filter: none;
        width: 52%;
        height: 100vh;
        background-color: var(--color-background);
    }

    .login-redirect-signup {
        text-align: left;
        padding-top: 6%;
        font-weight: 600;
        font-size: 1.4vw;
        color: #706F6B;
        text-shadow: 0px 8.32363px 8.32363px rgba(0, 0, 0, 0.1);
    } 

    .login-title-community {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        font-size: 1.8vw;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.0168em;
        color: #706F6B;
        text-shadow: 0px 9.00986px 9.00986px rgba(0, 0, 0, 0.1);
    }

    .inputAndReset {
        margin-top: 15%;
    }

    .login-input-email, .login-input-password {
        height: 2vw;
        width: 30vw;
        filter: drop-shadow(0px 4.97967px 3.73476px rgba(0, 0, 0, 0.15));
    }

    .login-input-password {
        margin-bottom: 1.2%;
    }

    .reset-password {
        margin-right: -38%;
        background-color: var(--color-background);
        font-size: 1em;
        font-weight: 900;
        color: #706F6B;
        letter-spacing: 0.0168em;
    }

    .google {
        margin-top: 3.2%;
    }

    button#btn-login {
        height: 8vh;
        width: 33vh;
        font-size: 1.2vw;
        margin-bottom: 0.5vw;
    }

    .btn-google {
        width: 34vh;
        height: 30%;
        font-size: 1.2vw;
        filter: drop-shadow(0px 5.28302px 5.28302px rgba(0, 0, 0, 0.15));
    }
    
    img#icon-google {
        width: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header.esmaeceHeader, .logotipo-text {
        display: none;
    }

    .mainSection-background-opacity {
        background-image: url(../../img/opacobg.jpeg);
        background-color: var(--color-background);
        background-attachment: fixed;
        background-repeat: repeat-x no-repeat;
        background-position-x: right;
        background-size: 50%;
        padding: 0% 5% 0% 0%;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: row;
        align-items: center;
    }

    .logo-above-bg{
        background-image: url(../../img/logo.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 20vw;
        height: 20vw;
        margin-left: 16vw;
    }

    .without-opacity {
        filter: none;
        width: 52%;
        height: 100vh;
        background-color: var(--color-background);
    }

    .login-redirect-signup {
        text-align: left;
        padding-top: 6%;
        font-weight: 600;
        font-size: 1.4vw;
        color: #706F6B;
        text-shadow: 0px 8.32363px 8.32363px rgba(0, 0, 0, 0.1);
    } 

    .login-title-community {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        font-size: 1.8vw;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.0168em;
        color: #706F6B;
        text-shadow: 0px 9.00986px 9.00986px rgba(0, 0, 0, 0.1);
    }

    .inputAndReset {
        margin-top: 15%;
    }

    .login-input-email, .login-input-password {
        height: 2vw;
        width: 30vw;
        filter: drop-shadow(0px 4.97967px 3.73476px rgba(0, 0, 0, 0.15));
    }

    .login-input-password {
        margin-bottom: 1.2%;
    }

    .reset-password {
        margin-right: -38%;
        background-color: var(--color-background);
        font-size: 1em;
        font-weight: 900;
        color: #706F6B;
        letter-spacing: 0.0168em;
    }

    .google {
        margin-top: 3.2%;
    }

    button#btn-login {
        height: 8vh;
        width: 33vh;
        font-size: 1.2vw;
        margin-bottom: 0.5vw;
    }

    .btn-google {
        width: 34vh;
        height: 30%;
        font-size: 1.2vw;
        filter: drop-shadow(0px 5.28302px 5.28302px rgba(0, 0, 0, 0.15));
    }
    
    img#icon-google {
        width: none;
    }
}


/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...} */


