.background-color-main {
    background-color: none;
  }

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 27px;
    line-height: 31px;
    letter-spacing: 0.35px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-primary);
    background-color: #FFD2BF;
}

.content-signup {
    background-image: url(../signup/img/paleta3.jpg);
    padding: 10% 5% 5% 5%;
    height: 100%; 
    width: 100%; 
}

.inputAndReset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-register {
    margin-top: 10%;
}

.warning {
    color: red;
    background-color: white;
}

/*

body {
    background-color: #FFD2BF;
}

.image-page {
    filter: opacity(0.4);
    z-index: -1;
    height: 100%;
    width: 100%;
} 

.banner {
    opacity: 100%;
    background-color: #FFD2BF;
    height: 10vh;
}
    
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 2.1rem;
    padding: 10% 5%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-primary);
}

.form-register {
    justify-content: center;
    text-align: center;
    font-size: small;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
}

.infos-user {
    margin: -18vh auto 1vh;
}

.style-input {
    border-radius: 20px;
    background: var(--color-white);
    border: 1px solid var(--color-background);
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: medium;
    color: var(--color-gray);
    padding: 5%;
    margin: 1% 4% 2%;
    display: inline-flex;
}

.btn-signup {
    font-size: 1.4rem;
    height: 6vh;
    width: 30vh;
    border-radius: 50px;
    background: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.0168em;
    color: #FFD2BF;
    margin: 10% auto;
}
*/

.go-login {
    font-size: 5.2rem;
}
