.background-color-main-signup {
    background-color: none;
}


.esmaeceHeader-signup {
    opacity: 100%;
    background-color: #ffd2bf;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 27px;
    line-height: 31px;
    letter-spacing: 0.35px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-primary);
    background-color: #FFD2BF;
}

.content-signup {
    background-image: url(../../img/opacobg.jpeg);
    padding: 10% 5% 5% 5%;
    height: 100%; 
    width: 100%; 
    z-index: -1;
}

.form-register {
    filter: none;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warning {
    color: red;
    background-color: white;
}

.btn-Signup {
    height: 53px;
    width: 245px;
    border-radius: 50px;
    background: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.0168em;
    color: #FFD2BF;
    margin: 10% auto;
}

.go-login {
    font-size: 5.2rem;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  
    /*
      .esmaeceHeader-signup {
        width: 50%;
    }
    */
    
    .content-signup {
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: auto;
        margin-right: 0;
        background-position-x: right;
        background-repeat: no-repeat; 
    }

    .value-register {
        width: 45vh;
    }

    .form-register {
        height: auto;
    }
}