.box{
  margin-inline: 10%;
  margin-bottom: 2%;
  display: flex;
  flex-flow: column nowrap;
}
.forms {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleCads {
  padding: 3%;
}
.titleCads img {
  width: 90%;
}
.nameUser,
.emailUser,
.passwordRegister,
.confPass {
  width: 60%;
  text-align: center;
  border: 1px solid #51fa02;
  box-shadow: 0px 4px 4px 0px rgb(73 73 73 / 25%) inset;
  padding: 2%;
  font-size: 75%;
}

input[type='file'] {
  margin: 0;
}
.inputPhoto{
  text-align: center;
  margin: auto; 
  display: flex;
  height: fit-content;
  flex-direction: column;
  width: 62%;
  align-items: center;
}

.addImgReg {
  width: 100%;
  padding: 3% 2%;
  height: 10%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  border: 1px solid #51fa02;
  box-shadow: 0px 4px 4px 0px rgb(73 73 73 / 25%) inset;
  font-size: 100%;
}
.upload, .register{
  font-family: 'Russo One', sans-serif;
  font-size: 100%;
  padding: 1%;
  border: none;
  box-shadow: 0px 4px 4px rgba(73, 73, 73, 0.25);
  background: #97cf6e;
  text-align: center;
  border-radius: 10px;
  width: max-content;
}
.upload{
  margin: 4% 0 0% 5%;
}
.upload:hover, .register:hover{
  color: rgb(119, 117, 117);
  cursor: pointer;
}
.inputPass,
.inputConf {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 2%;
  width: 100%;
}

.seePass, .seeConfPass {
  cursor: pointer;
  position: absolute;
  top: 25%;
  right: 20%;
  width: 5%;
  width: 2%;
}

.eyeGroupPass {
  width: 100%;
  position: relative;
}
.register {
  margin-top: 5%;
  line-height: 2;
}
.buttonLogin {
  background-color: #fff;
  border: none;
  box-shadow: none;
  width: 80%;
  margin: 4% auto;
  padding: 2%;
}
.buttonLogin img {
  width: 30%;
}
.buttonLogin img:hover{
  background-color: #97cf6e;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .upload{
    margin: 6% 0 0% 5%;
    padding: 4%;
    width: max-content;
  }
  .register{
  width: 25%;
  }
  .buttonLogin img{
    width: 65%;
    margin-top: 15%;
  }

}
