.box{
  margin-inline: 10%;
  margin-bottom: 2%;
  display: flex;
  flex-flow: column nowrap;
}
.forms {
  border: none;
}
.titleCads {
  padding: 3%;
}
.nameUser,
.emailUser,
.addImg,
.passwordRegister,
.confPass {
  width: 60%;
  text-align: center;
  border: 1px solid #51fa02;
  box-shadow: 0px 4px 4px 0px rgb(73 73 73 / 25%) inset;
  font-size: 100%;
  padding: 2%;
}
.inputPhoto{
  text-align: center;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  width: 60%;
  align-items: center;
}
.boxImg,
.addImg {
  width: 80%;
  padding-bottom: 6%;
  height: 0;
}
.upload, .register{
  font-family: 'Russo One' sans-serif;
  font-size: 100%;
  padding: 1%;
  width: 20%;
  border: none;
  box-shadow: 0px 4px 4px rgba(73, 73, 73, 0.25);
  background: #97cf6e;
  text-align: center;
  border-radius: 10px;
}
.upload{
  margin: 2% 0 2% 5%;
}
.inputPass,
.inputConf {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin: 2%;
}

.seePass img, .seeConfPass img {
width: 40%;
}
.seePass {
  cursor: pointer;
  position: absolute;
  top: 29%;
  right: 60%;
}
.seeConfPass {
  cursor: pointer;
  position: relative;
  top: 79%;
  right: 30%;
}
.buttonLogin {
  background-color: #fff;
  border: none;
  box-shadow: none;
  width: 30%;
  margin: 4% auto;
  padding: 2%;
}
.buttonLogin img {
  width: 60%;
}
@media (max-width: 600px) {
  /* so falta o responsivo e o olhinho ali em cima (.seePass, .seeConfPass) */
}
