.page {
  margin: 0;
  padding: 0;
}
.allPosts{
  background-color: #c8f4a97c
  ;
}
.logoHome {
  margin-top: 40%;
  width: 40%;
}
.containerHome {
  background: #fffdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: -16% auto;
}

.lines {
  margin: 1% auto;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0.9px;
}

.mercados,
.receitas,
.restaurantes {
  font-size: 100%;
  font-family: "Russo One", sans-serif;
  border: none;
  box-shadow: 0px 4px 4px rgba(73, 73, 73, 0.25);
  margin: 2%;
  padding: 2%;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.mercados {
  background: #2ac2f3;
}
.receitas {
  background: #ff7171;
}
.restaurantes {
  background: #f3b949;
}

.restaurantes:hover,
.receitas:hover,
.mercados:hover {
  color: #a7b1a4d7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 30px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.botoes {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.like {
  border: none;
  margin: 0% -15% 0% 0%;
  cursor: pointer;
  text-decoration: none;
  background: none;
  box-shadow: none;
}

.addPrice {
  display: flex;
  flex-direction: row;
}
.price {
  color:  #f3b949;
  font-size: 1.5rem;
  margin: 2% 0% 0% 0%;
}

.likePrice,
.likeImg {
  width: 25px;
  height: 25px;
}

.coments {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: auto;
}

.addComent {
  text-align: center;
  resize: none;
  width: 90%;
  margin: 2%;
  padding: 2%;
}

.more {
  border: none;
  font-size: 15px;
  text-decoration: none;
  box-shadow: none;
  background: none;
  color: #939393;
  cursor: pointer;
  display: inline-block;
}
.addCom {
  text-align: center;
  border: solid 1px #939393;
  width: 25px;
  height: 25px;
}

.goComent {
  font-family: "Russo One", sans-serif;
  font-size: 15px;
  justify-content: space-evenly;
  border: none;
  color: #939393;
  background: none;
  cursor: pointer;
}
.goComent img {
 width: 100%;
}

.headPost{
  background-color:#97cf6e;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 2%;
  justify-content: center;
  margin-top: 0;
  box-shadow: 0px 4px 4px rgba(73, 73, 73, 0.25);
}
.imgUser {
  padding: 2%;
  margin-left: 22%;
  width: 15%;
  border-radius: 20%;
}
.user {
  font-size: 24px;
  margin: auto;
}
.data {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin: auto;
}
.user-data{
  margin-right: 15%;
  width: 100%;
}
.title {
  font-size: 23px;
  padding-bottom: 1%;
  width: 70%;
  border-bottom: solid 2px #000;
  margin:5% auto;
}
.descr{
  margin: 3%;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.hashs {
  font-size: 15px;
}
.delete-edit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.delete-button, .edit-button, .savEdit-button{
  margin: 5%;
  padding: 2%;
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #3e3e3f;
  background-color: #6c946e52;
  box-shadow: 0px 3px 4px rgba(73, 73, 73, 0.25);
  border: none;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.delete-button:hover, .edit-button:hover, .savEdit-button:hover{
  background-color: #6c946e98;
}

.tipo {
  font-size: 18px;
  color: #ffffff;
  background-color: var(--green-color);
  text-align: center;
  width: 25%;
  right: 10%;
  cursor: pointer;
}

@media (max-width: 600px) {
  .filters {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2% 13%;
  }
  .receitas,
  .mercado,
  .restaurante {
    justify-content: center;
  }
 .logoHome{
   width: 50%;
 }
  .containerHome {
    width: 80%;
    margin: -30% auto;
  }
  .delete-button,
  .edit-button {
    width: 25%;
  }
  .botoes {
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
  }
  .tipo {
    display: flex;
    align-self: flex-end;
    font-size: 12px;
  }
  .title{
    margin-top: 5%;
    font-size: 18px;
  }
  .descr{
    font-size: 14px;
  }
  .data {
    font-size: 15px;
  }
  .menu{
    top: -12px;
    width: 25%;
  }
}