.page {
  margin: 0;
  padding: 0;
}
.menu {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.containerHome {
  background: #fffdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 3% auto;
}
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

.links,
.btn {
  font-family: "Russo One", sans-serif;
  width: 100%;
  font-size: 18px;
  background: #EEFFE2;
  box-shadow: 0px 4px 4px rgba(73, 73, 73, 0.25);
  border: none;
  border-radius: 10px;
  margin: 3% auto;
  padding: 2% 2%;
  text-align: center;
  width: 25%;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.addPost {
  background: #97CF6E;
  box-shadow: 0px 4px 4px rgba(73, 73, 73, 0.25);
  border: none;
  border-radius: 10px;
  margin: 3% auto;
  padding: 2% 2%;
  text-align: center;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postar{
  font-family: "Russo One", sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 5% auto;
  cursor: pointer;
  text-align: center;
}

.tomato {
  width: 25px;
  height: 25px;
  padding: 0px 3px 0px 0px;
}

.lines {
  margin: 1% auto;
  width: 100%;
 }

.filters {
  display: flex;
 
  /* flex-flow: row nowrap; */
  /* justify-content: center; */
  padding-left: 0.9px;
  /* padding: 0px 0.5px 0px; */
 
}

@media (max-width: 500px){
  .filters {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  padding: 15px 20px;
}
}

.receitas {
  font-family: "Russo One", sans-serif;
  width: 100%;
  font-size: 18px;
  background: #FF7171;
  box-shadow: 0px 4px 4px rgba(73, 73, 73, 0.25);
  border: none;
  border-radius: 10px;
  margin: 3% auto;
  padding: 2% 2%;
  text-align: center;
  width: 35%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 15px 10px;
}
      
.mercados {
  font-family: "Russo One", sans-serif;
  width: 100%;
  font-size: 18px;
  background: #2AC2F3;
  box-shadow: 0px 4px 4px rgba(73, 73, 73, 0.25);
  border: none;
  border-radius: 10px;
  margin: 3% auto;
  padding: 2% 2%;
  text-align: center;
  width: 35%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 15px 10px;
  }
    
.restaurantes {
  font-family: "Russo One", sans-serif;
  width: 100%;
  font-size: 18px;
  background: #F3B949;
  box-shadow: 0px 4px 4px rgba(73, 73, 73, 0.25);
  border: none;
  border-radius: 10px;
  margin: 3% auto;
  padding: 2% 2%;
  width: 35%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 15px 10px;
}

@media (max-width: 500px){
  .receitas, 
  .mercado, 
  .restaurante {
    width: 100px;
    justify-content: center;
    font-size:50%;
  }
}



.like, .price {
  /* display: flex;
  flex-flow: row nowrap; */
  width: 30px;
  height: 30px;
  margin: 0 90px;
  /* margin-left: 50px; */
  justify-content: space-between; /*Cria um espaçamento igual entre os elementos. Mantendo o primeiro grudado no início e o último no final. */
  border: none;
}

.likePrice{
  width: 25px;
  height: 25px;
  /* margin: 0 -50px; */
}

.addCom{
  width: 25px;
  height: 25px;
  padding: 1px 5px 0px 0px;
}

.addComent{
  width: 200px;
  height: 30px;
  margin: 5px;
  /* margin-left: 50px; */
  justify-content: space-evenly;
  border: none;
  
}