.page {
  background: #97cf6e;
  margin: 0;
  padding: 0;
}
.container {
  background: #97cf6e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 3% auto;
}
.logo {
  width: 50%;
  margin: auto;
}
.justify-register,
.justify-google,
.inputPass {
  display: flex;
  justify-content: center;
}
.password,
.login {
  width: 80%;
  padding: 7px;
  text-align: center;
  justify-content: center;
  margin: 3% 0 3% 0;
  border: 1px solid #ffffffde;
  color: rgb(0, 0, 0);
  box-shadow: 0px -3px 1px #a09f9f5e;
}
.eye{
  position: absolute;
  right: 30%;
  cursor: pointer;
}
.eye img {
  width: 40%;
}
.entrar {
  width: 30%;
  padding: 9px;
  font-size: 80%;
  border: 1px solid #9b9b9bde;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(20, 20, 20, 0.37);
  border-radius: 7px;
  cursor: pointer;
  font-family: "Russo One", sans-serif;
}
.forgetPass {
  background: transparent;
  border: none;
  padding: 5%;
  font-family: "Russo One", sans-serif;
}

.google-login {
  width: 60%;
  padding: 7px;
  font-size: 100%;
  color: rgb(119, 117, 117);
  border: 1px solid #9b9b9bde;
  box-sizing: border-box;
  margin: 5% auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-logo {
  width: 20px;
  padding: 0px 5px 0px 0px;
}

.line {
  margin: 2% auto;
  width: 90%;
}

.cadastro {
  width: 100%;
  font-size: 25px;
  padding-top: 5%;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.cadastro:hover,
.forgetPass:hover, .entrar:hover {
  cursor: pointer;
  color: rgb(119, 117, 117);
}

@media (max-width: 500px) {
  .cadastro {
    font-size: 100%;
  }

  .google-login {
    width: 100%;
    margin: 8% auto;
  }

  .entrar {
    width: 60%;
    padding: 6px;
    font-size: 100%;
  }
}
