/* .containerHome {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 3% auto;
}

.logoHome{
    margin-top: 5px;
    width: 500%;
    margin: auto;
} */    
