@media (min-width:1400px){
    :root{
        font-size: 16px;
    }

    .form-input{
        padding: 1rem;
        margin: 0.8rem 0rem;
    }

    #enter{
        margin: 1.5rem;
    }

    #or{
        padding: 0rem;
    }

    .btn{
        margin: 0rem;
        padding: 0.8rem 0.1rem;
        font-size:1.2rem;

    }

    #gmail-btn{
        margin: 0rem;
        padding: 0.8rem 0.1rem;
        font-size:1rem;
    }
    #bookish{
        margin: 0rem 30rem 28rem 0rem
    }
    
    .sign-google{
        font-size: 1.1rem;    
    }

    .site-logo{
        height: 37rem;
        width: 50rem;
    }
    
    .logo-google{
        width: 2rem;
        margin: 0rem 0.5rem 0rem 0rem;
    }

    .back-to-login{
        margin: 0rem 48rem 42rem 0rem
    }

    #logout-btn{
        margin: 0rem 0rem 0rem 60vw;
        position: unset;
    }

    .sidebar-desktop{
        width:20vw;
    }

    .sidebar-user-img{
        width: 9rem;
        height: 9rem;
    }

    .user-information{
        margin-top:2rem;
    }

    .sidebar-text{
        font-size:1.3rem;
    }

    #edit-profile-link{
        
        font-size:1.3rem;
    }

    .num{
        width:2rem;
        height: 2rem;
    }
    #sidebar-img-logout{
        width:3rem;
    }

    .fieldset-forgot-password, .fieldset-create-profile{
        width:50%;
    }

    #send-forgot-password, #send-profile{
        margin-top:2rem;

    }

    .back-to-login{
        top:5rem;
        left:5rem;
        width:15%;
        font-size: 1.5rem;
    }

    #register-btn{
        margin-top:1rem;
    }
    .sidebar-desktop{
        width:25vw;
        
    }
    .user-data{
        height: 40  vh;
        padding: 0rem;
        margin: 0rem;
    }
    .sidebar-profile{
        height: 29vh;
        margin: 0rem;
        padding: 1rem 0rem;
    }
    .sidebar-tools{
        height: 10vh;
        padding: 1rem;
    }
    #sidebar-logout{
        height: 10vh;
    }

    .photo-book-review-post{
        margin: 0rem 0rem 0rem 42vw;
    }
    .stars-show{
        margin: 9.2rem 42.2vw;
    }    
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .logo-container{
        width:40vw;
    }
    
    .form-container{
        width:60vw;
    }

    .form{
        width:60%
    }
}

@media (max-width: 1200px) {
    
    .form{
        width:80%
    }
    .sidebar{
        width:25vw;
    }
    #home-content{
        
        width:75vw;
    }
   
}

@media (max-width: 1024px) {
    #sign-up, #signin-page, #create-profile, #forgot-password, #modal-sucessful{
        background: linear-gradient(180deg,  #4c63a1 0%, #637cc0 25%,  #5d88b9 70%, #5E97AF 90% );
    }

    .form-page{
        width:100vw; 
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .logo-container{
        width: 100vw;
        height: auto;
        margin:0rem 0;
    }

    .logo-container-register{
        display:none;
    }
    
    .form-container{
        width:100vw;
        height: auto;
    }   

    #bookish{
        margin: 0rem 15rem 13rem 0rem;
        font-size: 1.5rem;
    }
    .site-logo{
        width: 25rem;
        height: 19rem;
    }

    .form{
        width:50%;
    }

    .back-to-login{
        top:2rem;
        left:2rem;
        width:15%;
    }
    
    #back-to-login-fp{
        margin: 0rem 50vw 35rem 0rem;
        width: auto;
        height: 3rem;
    }
    
    #form-container-forgot-password, #form-create-profile{
        width: 100vw;
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem;
        padding: 0rem;
        
    }

    .fieldset-forgot-password, .fieldset-create-profile{
        width:80%;
    }

    #logout-btn{
        margin: 0rem 0rem 0rem 75vw;
        position: unset;
    }

    .sidebar{
        width:30vw;
    }
    #home-content{
        
        width:70vw;
    }

    .buttons{
       
        padding:0 2rem;
    }
    .photo-book-review-post{
        margin: 0rem 0rem 0rem 37vw;
    }
    .stars-show{
        margin: 9.2rem 37.2vw;
    }    
}

@media (max-width:768px){
    .form{
        width:70%
    }
  
    #home-content{
        
        width:100vw;
    }
    #sidebar{
        z-index: 2;
    }

    .home-navbar{
        display:flex;
        width:100vw;
        justify-content: space-between;
        align-items:center;
        position:fixed;
        bottom:0;
        left:0;
        padding:2rem 10rem;
        background-color: white;
        border-top:thin solid #d4d4d4;
        z-index: 2;
        
   
     
    }

    .menu-mobile-btn{
        border:none;
        background-color: transparent;
        
    }

    .menu-img{
        width:3rem;
       
    }

    .close-mobile-sidebar{
        display:block;
    }

    .home-container{
        width: 100vw;
    }
}
  
/* menu home modal */
@media (max-width: 768px) and (min-width:492px){ 

    #sidebar{
        z-index: 2;
    }

    .sidebar-container{
        width:50%;
        height: 100vh;
        position:fixed;
        top:0;
        right:0;
        background: linear-gradient(359.92deg, #5E97AF 6.15%, #6D9ACE 52.44%, #5694DC 77.96%, #4C64A4 95.61%);
        padding:3rem;
    }

   
    .mobile-menu{
        width:100vw;
        height: 100vh;
        position:fixed;
        top:0;
        left:0;
        color:white;
        display: flex;
        display:none;
        margin:0;
        padding:0;
        background-color: rgba(0,0,0,0.5);
       
          
    }

    @keyframes sidebar {
        from {
          opacity: 0;
          transform:translate3d(60px, 0, 0)
        }
        to {
          opacity: 1;
          transform:translate3d(0px, 0, 0)
        }
      }
      
      .sidebar-container{
        animation:sidebar 0.5s;
      }
      .container-file-img1{
        margin:1rem 2rem 5.5rem 0rem; 
    }

    .photo-book-review-post{
        margin: 0rem 0rem 0rem 70vw;
    }
    .stars-show{
        margin: 9.2rem 70.2vw;
    }    

}

@media (max-width: 576px) {

    #sidebar{
        z-index: 2;
    }
    .sidebar-container{
        width:60%;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem ;
    }
   

    .mobile-menu{
        width:100vw;
        position:fixed;
        top:0;
        right:0;
        background: linear-gradient(359.92deg, #5E97AF 6.15%, #6D9ACE 52.44%, #5694DC 77.96%, #4C64A4 95.61%);
        color:white;
        display: flex;
        justify-content: center;
        display:none;
    }

    .home-navbar{
        padding:2rem 4rem;
        z-index: 2;
   
    }

    @keyframes sidebar {
        from {
          opacity: 0;
          transform:translate3d(60px, 0, 0)
        }
        to {
          opacity: 1;
          transform:translate3d(0px, 0, 0)
        }
      }
      
      .mobile-menu{
        animation:sidebar 0.5s;
      }

}

@media(max-width: 496px){
    .sidebar-container{
        width:80%;
    }

    #sidebar{
        z-index: 2;
    }

    .back-to-login{
        top:0.2rem;
        left:0.2rem;
        width:20%;
        font-size: 12px;
    }

    .home-container{
        width:100%;
    }

    .buttons{
       
        padding:0;
    }
    .data-post{
        margin: 0px 0rem;
    }
    .photo-post-review{
        width: 6rem;
    }
    .name-profile-post{ 
        font-size: 1.8rem;
        margin: 1rem 1rem;
    }
    .username-post{
        position: absolute;
        margin: 3rem 7rem;
    }
    .data-book-post{
        margin: 0rem 1rem;
    }
    .container-file-img1{
        margin:1rem 2rem 5.5rem 0rem; 
    }
    .photo-book-review-post{
        margin: 0rem 0rem 0rem 60vw;
    }
    .stars-show{
        margin: 9.2rem 60.6vw;
    }
    
}

@media(max-width: 320px){

    #sidebar{
        z-index: 2;
    }

    .sidebar-user-img{
        width: 10rem;
        height: 10rem;
    }
    .user-information{
        margin-top:1rem;
    }

    .sidebar-container{
        margin-top:0;
        justify-content: center;
        align-items:center;
    }

    #gmail-btn{
        padding:1.5rem 0.5rem
    }
    .logo-google{
        margin-right:0.5rem;
        padding:0;
    }
    .data-post{
        margin: 0px 0rem;
    }
    .photo-post-review{
        width: 6rem;
    }
    .name-profile-post{ 
        font-size: 1.8rem;
        margin: 1rem 1rem;
    }
    .username-post{
        position: absolute;
        margin: 3rem 7rem;
    }
    .data-book-post{
        margin: 0rem 1rem;
    }  
    .container-file-img1{
        margin:1rem 2rem 5.5rem 0rem; 
    }
    .photo-book-review-post{
        margin: 4rem 0rem 0rem 67vw;
        width: 6rem;
        height: 8rem;
    }
    .stars-show{
        margin: 10rem 67.8vw;
        font-size: 1.3rem;
    }

}
@media(max-width: 280px){

    #sidebar{
        z-index: 2;
    }
    .review-area{
        height: 150vh;
    }
    .photo-book-review-post{
        margin: 6rem 0rem 0rem 67vw;
        width: 5rem;
        height: 7rem;
    }
    .stars-show{
        margin: 11rem 67.2vw;
        font-size: 1.1rem;
    }
    .estrelas{
        padding: 1rem 0rem 0rem 0rem;
        font-size: 2rem;
        line-height: 30px;
    }
    .buttons{
        padding:0rem 0rem 0rem 0rem;
        flex-direction: column;
        margin: 0rem;
    }

}
@media (min-width:2560px){

    .photo-book-review-post{
        margin: 0rem 0rem 0rem 42vw;
    }
    .stars-show{
        margin: 9.2rem 42.2vw;
    }    
}