@media (min-width:1400px){
    :root{
        font-size: 16px;
    }

    .form-input{
        padding: 1rem;
        margin: 0.8rem 0rem;
    }

    #enter{
        margin: 1.5rem;
    }

    #or{
        padding: 0rem;
    }

    #gmail-btn{
        margin: 0rem;
        padding: 0.8rem 0.1rem;
    }
    #bookish{
        margin: 0rem 30rem 28rem 0rem
    }
    
    .sign-google{
        font-size: 1.1rem;    
    }

    .site-logo{
        height: 37rem;
        width: 50rem;
    }
    
    .logo-google{
        width: 2rem;
        margin: 0rem 0.5rem 0rem 0rem;
    }

    .back-to-login{
        margin: 0rem 48rem 42rem 0rem
    }

    #logout-btn{
        margin: 0rem 0rem 0rem 80vw;
        position: unset;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .logo-container{
        width:40vw;
    }
    
    .form-container{
        width:60vw;
    }

    .form{
        width:60%
    }
}

@media (max-width: 1200px) {
    
    .form{
        width:80%
    }
   
}

@media (max-width: 1024px) {
    .form-page{
        width:100vw; 
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .logo-container{
        width: 100vw;
        height: auto;
        margin:0rem 0;
    }

    .logo-container-register{
        display:none;
    }
    
    .form-container{
        width:100vw;
        height: auto;
    }   

    #bookish{
        margin: 0rem 15rem 13rem 0rem;
        font-size: 1.5rem;
    }
    .site-logo{
        width: 25rem;
        height: 19rem;
    }

    .form{
        width:50%;
    }

    .back-to-login{
        margin: 0rem 60vw 25rem 0rem;
        width: auto;
        height: 3rem;
        color: #bbafc9;
        background-color: transparent;
        border: none;
    }
    
    .back-to-login-fp{
        margin: 0rem 50vw 35rem 0rem;
        width: auto;
        height: 3rem;
        color: #bbafc9;
        background-color: transparent;
        border: none;
    }
    
    #form-container-forgot-password, #form-create-profile{
        width: 100vw;
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem;
        padding: 0rem;
        
    }

    #logout-btn{
        margin: 0rem 0rem 0rem 60vw;
        position: unset;
    }
    
}

@media (max-width: 768px) {

    .form{
        width:70%
    }
}

@media (max-width: 576px) {

    .form{
        width:80%
    }
}
