@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --text-color: rgb(70, 60, 75);
    --dark-purple: #4D3D7B;
}

*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
    color:var(--text-color);
    font-size:10px;
}
body{
    width:100vw;
    font-size: 1.6rem;
}
#sign-up, #signin-page, #create-profile, #forgot-password, #modal-sucessful{
    background: linear-gradient(90deg, #29055B 0%, #A74AC2 47.4%, #DBD65C 100%);
}
.form-page{
    display:flex
}
.logo-container{
    width:50vw;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 100px;
}
.site-logo{
    width: 75rem;
    height: 55rem;
}
.form-container{
    width:50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.h1-login{
    color:white;
    font-size: 2rem;
    margin-bottom: 1.6rem;
}
.fieldset{
    border: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form{
    width:60%;
    display:flex;
    flex-direction: column;
}
.form-input{
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    width:100%;
    padding: 1.8rem;
    margin: 1rem 0;
    color:var(--text-color)
}
.forget-password{
    align-self: flex-start;
    cursor: pointer;
    font-size: 1.2rem;
    color:white;
}
.forget-password:hover{
    color: #4D3D7B;
}
.btn{
    cursor: pointer;
    background-color: #4D3D7B;
    color: #ffffff;
    width: 100%;
    height: 13%;
    margin: 3rem 0;
    padding: 1.2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    align-self: center;
    border: none;
    outline: none;
}
.btn:hover{
    background-color:#864b86;
    transition: 0.7s;
}
.p-sign-in{
    color:white;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: var(--dark-purple);
    font-size: 1.2rem;
    font-weight: bold;
    cursor:pointer;
    
}
a:hover{
    color:rgb(116, 43, 116);
    text-decoration: underline rgb(116, 43, 116);
}
.or{
    font-size: 1.6rem;
    color:#ffffff;
    margin:2rem 0;
}
#gmail-btn{
    width:100%;
    cursor: pointer;
    background-color: #f5e3fad3;
    border-radius: 5px;
    border: none;
    outline: none;
    margin:0 0 2rem 0;
    padding: 1.2rem;
}
#gmail-btn:hover{
    background-color: #deb7eb;
    transition: 0.7s;
}
.logo-google{
    width: 20px;
    padding: 0px 3px 0px 0px;
    margin-right: 1rem;
}
.sign-google{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--dark-purple);
    font-size: 1.2rem;
}


.container-file-img{
    width:10rem;
    height:10rem;
    align-self: center;
    margin:2rem 0; 
}
.file-img{
    width:100%;
    height: 100%;
    object-fit: cover;
    cursor:pointer;
    -moz-transition:  0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.file-img:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.file-input{
    display:none;
}

.back-to-login{
    position: absolute;
    font-size: 15px;
    padding: 5px;
    margin: 0px 590px 530px 0px;
    cursor: pointer;
    float: left;
    width: 8%;
    height: 6%;
    font-weight: bold;
}
.back-to-login:hover{
    border: none;
    background-color: #864b86;
    color: #ffffff;
    transition: 1s;
}
#home-content{
    background-color: white;
    height: 200%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2rem 1rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
}

#logout-btn{
    position: absolute;
    margin: 0rem 0rem 30rem 80vw;
    cursor: pointer;
    background-color: #864b86;
    font-size: 15px;
    height: 3.5rem;
    width: 7rem;
    border: none;
    color: white;
}
#logout-btn:hover{
    background-color: #4b4b4b;
    border: none;
    height: 7%;
    transition: 1s;
}
.h1-home{
    color: black; 
    font-size: 35px;
    padding: 1rem;
}
#bookish{
    color: #ffffff;
    position: absolute;
    font-size: 50px;
    margin: 0px 350px 400px 0px;
}
.h1{
    color:white;
    font-size: 2rem;
    margin-bottom: 1.6rem;
}
#form-container-forgot-password, #form-create-profile{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 200px;
    width: 100%;
}
.back-to-login-fp{
    position: absolute;
    font-size: 15px;
    padding: 5px;
    margin: 0px 1160px 530px 0px;
    cursor: pointer;
    float: left;
    width: 8%;
    height: 6%;
    font-weight: bold;
}
.back-to-login-fp:hover{
    border: none;
    background-color: #864b86;
    color: #ffffff;
    transition: 1s;
}
.fieldset-forgot-password{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.content{
    position: absolute;
    margin: 0px 0px 100px 0px
}
.h1-fp{
color: white;
font-size: 3rem;
}
.check{
    height: 17rem;
}

.container-center{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

#back{
    color:white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
        
    }
#back:hover{
    color:rgb(116, 43, 116);
    text-decoration: underline rgb(116, 43, 116);
}
    
#none{
    display: none;
}
.photo-profile{
    border-radius: 50%;
    border: #742b74 2px solid;
    height: 10rem;
    width: 10rem;
}
/* home area */
.review-area{
    text-align: center;
    display: flex;
    padding: 1rem;
}

.content-area{
    text-align: center;
    margin: 1rem;
}

.posted-review{
    margin: 1rem;
}

.timeline{
    margin: 1rem;
}

.publish-btn{
    padding: 1rem;
}

.new-review{
    padding: 1rem;
}