@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --russet-orange: #E47127;
  --red-plum: #7C2946;
  --coral-haze: #E1907F;
  --limeade: #D3D95F;
  --pantone-142c: #F1BE48;
  --fressia: #F6C324;
  --beeswax: 240, 219, 170;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--pantone-142c);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1 0 auto;
}

.screenContainer, .screenContainerBody {
  display: block;
}

.div-width90 {
  width: 90%;
  margin: auto;
}

.postRecipeSection  {
  margin-top: 90px;
  margin-bottom: 25px;
}

.initialForm, .postRecipeForm {
  width: 100%;
  margin: auto;
}

.logo {
  width: 160px;
  margin: 25px auto auto auto;
  display: block;
}

.signIn-input, .signUp-input, .inputProfile {
  position: relative;
  width: 100%;
  height: 40px;
  display: block;
  margin: 15px auto 0 auto;
  border: 1px solid var(--russet-orange);
  border-radius: 5px;
  padding: 15px;
}

.title {
  font-family: 'Comfortaa', cursive;
  letter-spacing: 2px;
  margin: 1rem auto;
}

.btn-login, .saveChanges {
  position: relative;
  width: 100%;
  height: 40px;
  display: block;
  margin: 15px auto;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: var(--limeade);
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

#sign-up {
  background-color: var(--russet-orange);
}

.google-icon {
  background: url("https://img.icons8.com/color/48/000000/google-logo.png") no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center center;
  background-size: 25px;
  margin: auto 5px auto auto;
  vertical-align: middle;
}

.notice {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.material-icons {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  margin-right: 5px;
}

button::before {
  cursor: pointer;
}

#passwordReset, #loginAcc {
  margin-top: 5px;
  margin-bottom: 0.5rem; 
  text-align: center;
  font-size: 0.9rem;
}

.ancor {
  text-decoration: underline;
  color: rgb(51, 51, 211);
}

.btn-uploadImage {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: var(--limeade);
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-uploadImage:hover {
  cursor: pointer;
}
/* =================================  Página de Reset Password: ================================ */

#resetPassword-email {
  margin: 0px auto 25px auto;
}

#forgotPassword-form label {
  margin-left: 15px;
  color:rgb(48, 48, 51);
  letter-spacing: 2px;
  position: relative;
}

/* =================================  Página de postRecipe: =================================== */

.textarea-recipe {
  width: 100%;
  border-radius: 5px;
  resize: vertical;
  overflow: scroll;
  border: none;
  display: block;
  background-color: rgba(var(--beeswax));
  margin: 1rem auto ;
  padding: 5px;
}

.info-recipe-container {
  background-color: var(--russet-orange);
  margin: 1rem auto;
  border-radius: 5px;
  display: block;
}

.recipe-select, .time-input {
  width: 80px;
  height: 2rem;
  border-radius: 5px;
  margin: 1rem 0 1rem auto;
}

.filter-info-recipe {
  display: flex;
  border-bottom: 1px solid var(--pantone-142c);
  margin: 0 15px;
  align-items: center;
}

#filter-info-recipe-last {
  border-bottom: none;
}

.time-recipe-container {
  display: block;
  margin: 1rem 0 1rem auto;
}

.time-recipe-container span {
  display: block;
  text-align: center;
}

#time-select {
  margin-bottom: 0px;
  margin-top: 0px;
  display: block;
}

.width-90 {
  width: 90%;
  display: block;
  margin: auto;
}

.info-recipe-container-flex {
  display: flex;
  background-color: var(--russet-orange);
  margin-top: 1rem;
  border-radius: 5px;
}

#addRecipe-title {
  background-color: rgba(var(--beeswax));
}

#post-recipe-title, #recipes-title, .resetPassword-title {
  border-bottom: 2px solid var(--red-plum);
  font-weight: bolder;
}

#recipes-title {
  width: 90%;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid var(--russet-orange);
  border-radius: 10px;
  z-index: 100;
  background-color: rgba(var(--beeswax));
  width: 250px;
  padding: 20px;
  transition: 200ms ease-in-out;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 3px 3px 3px #000;
}

.popup.active, .popup.error {
  transform: translate(-50%, -80%) scale(1);
}

.overlay {
  position: fixed;
  opacity: 0;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(0, 0, 0, 0.5);
  transition: 200ms ease-in-out;
  pointer-events: none; /*o valor none instrui o evento do mouse a "passar" o elemento e tudo que está "abaixo" deste elemento.*/
  z-index: 99;
}

.overlay.active {
  pointer-events: all;
  opacity: 1;
}

.div-btns-popup {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  color: red;
  justify-content: space-evenly;
}

.btn-popup {
  width: 4rem;
  height: 2rem;
  border-radius: 5px;
}

.btn-yes {
  background-color: var(--coral-haze);
}

.uploader {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
}

.recipeLikes {
  background-color: transparent;
  border: none;
}

input[type="file"] {
  display: none;
}

/* =================================  Página de Perfil: =================================== */

.padding-bottom25{
  padding-bottom: 25px;
}

.profileInfo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(102, 102, 93);
  padding: 6px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.div-profile {
  width: 100%;
}

.recipe-content p {
  margin-left: 0.5rem;
}

.profileInfo{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.profile-nav-bar{
  background-color: #e47127;
  width: 244px;
  height: 290px;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 5px;
  justify-items: center;
  margin-top: 60px;
  box-shadow: 3px 3px 3px black;
}

.profile-nav-bar-options{
  list-style-type: none;
  width: 244px;
  height: 40px;
  text-align: center;
  padding: 10px;
  color: var(--pantone-142c);
  border-radius: 5px;
  background-color: var(--red-plum);
  width: 100%;
  margin: 1rem auto;
}

.recipes, .editProfile{
  text-decoration: none;
}

.profile-nav-bar-options:hover{
  background-color: rgb(102, 102, 93);
}


.recipeInfo-box p, .recipeInfo-box span {
  flex-basis: 100%;
  text-align: center;
  margin: 0px;
}

.profileInfo section p{
  text-align: center;
  margin-bottom: 7px;
}

.editProfileForm{
  position: relative;
  top: 20px;
}

.editProfileForm form{
  display: flex;
  flex-direction: column;
  width: 294px;
  align-items: center;
  justify-content: space-between;
}

.editProfileForm form input, .editProfileForm form select{
  width: 280px;
  height: 28px;
}

.profile-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileChangesDiv{
  display:flex;
  justify-content: center;
}

.mainContent{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 70px;
}

/* icons */ 

.recipeLikes i {
  color: red;
}

.empty-heart{
  color: red;
}

.welcomeProfile {
  display: none;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 2px;
  color:rgb(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  margin: 1.3rem auto;
}

/*   Fim da página de perfil:  */

/* =====================================  HEADER ===================================== */
.icons-header {
  font-size: 24px;

}

#headerContainer {
  width: 100%;
  background-color: #7C2946;
  color: #F6C324;
  position: fixed;
  top: 0;
  z-index: 98;
}

#header,  #headerSearchPage {
  box-sizing: border-box;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: nowrap;
}

.headerSearchPageContainer {
  width: 100%;
  background-color: #7C2946;
  color: #F6C324;
  overflow: hidden;
}

.header-icon {
  margin-top: 15px;
  margin-right: 15px;
}

.btnOk {
  width: 4rem;
  height: 2rem;
  border-radius: 5px;
  background-color: var(--coral-haze);
}

.notice-header-p {
  color: var(--red-plum);
}

#menu {
  display: block;
  position: absolute;
  width: 70%;
  z-index: 98;
  background-color: var(--coral-haze);
  /* transition: .2s; */
  visibility: hidden;
  left: 0;
  pointer-events: all;
  list-style: none;
  gap: .5rem;
  margin: 0;
  padding: 0;
}

#menu a {
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, .05);
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: #000;
}

#nav.active #menu {
  visibility: visible;
  top: 70px;
}

#btn-mobile {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  gap: 0.5rem;
  padding: .5rem 1rem;
  margin-right: 1rem;
}

#hamburger {
  border-top: 2px solid;
  width: 20px;
}

#hamburger::after, #hamburger::before {
  display: block;
  position: relative;
  content: '';
  background-color: #000;
  width: 20px;
  height: 2px;
  margin-top: 5px;
  color: #F6C324;
  transition: 0.3s;
}

#nav.active #hamburger::after {
  transform: rotate(135deg);
}

#nav.active #hamburger::before {
  transform: rotate(-135deg);
}

.searchPage {
  position: fixed;
  opacity: 0;
  left: 0px;
  top: 70px;
  right: 0px;
  bottom: 0px;
  background-color: var(--pantone-142c);
  transition: 200ms ease-in-out;
  pointer-events: none; /*o valor none instrui o evento do mouse a "passar" o elemento e tudo que está "abaixo" deste elemento.*/
  z-index: 99;
  color: black;
}

.searchPage.active {
  pointer-events: all;
  opacity: 1;
}

/* final do header */


/* ========================================  FOOTER ===================================== */

footer {
  background-color:gray;
  flex-shrink: 0;
  padding: 10px;
  text-align: center;
  height: 58px;
}

footer a {
 color:#000 
}

/* =================================  Página de feed: =================================== */

.div-recipe {
  background-color: #f0f0f0;
  /* background-color: rgb(219, 219, 219); */
  margin: 2rem auto;
  /* padding: 1re/ auto; */
  box-shadow: 3px 3px 3px black;
  display: block;
  border-radius: 5px;
  position: relative;
}

.recipe-title {
  /* background-color: var(--red-plum); */
  background-color: var(--russet-orange);
  border-radius: 5px 5px 0 0;
  /* color:var(--pantone-142c); */
  margin: 0px;
  padding: 5px;
  width: 100%;
}

.recipe-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.recipeBody {
  margin: 0.5rem;
  display: none;
}

.commentIcon {
  margin-left: 15px;
}

.showBlock {
  display: block;
}

.div-width100 {
  width: 100%;
  border-bottom: none;
}

.center-title {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.recipe-footer {
  border-radius: 0 0 5px 5px;  /* display flex removido por Thais */
}

.like {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 50%;
}

.post-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: auto;
  display: block;
}

.recipe-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipeInfo-box {
  background-color: var(--coral-haze);
  width: 47%;
  height: 47px;
  margin: 2px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;   /* adicionado - para função editar receita  */
}

.recipeInfo-box p, .recipeInfo-box span {
  flex-basis: 100%;
  text-align: center;
  margin: 0px;
}

.menu-recipeButton {
  float: right;
  visibility: hidden;
  display: flex;
  border: none;
  background-color: transparent;
  color: var(--pantone-142c);
  height: 100%;
  position: relative;
  font-size: 20px;
}

.menu-recipeButton span {
  line-height: 1.9rem;
  font-size: 35px;
}

.menu-button span {
  font-size: 1.7rem;
}

.recipeMenu {
  display: block;
  position: absolute;
  width: 130px;
  background-color: var(--coral-haze);
  top: 31px;
  visibility: hidden;
  right: 0;
  pointer-events: all;
}

.recipeMenu li {
  border-bottom: 2px solid rgba(0, 0, 0, .05);
  list-style-type: none;
}

.recipeMenu li:hover {
  cursor: pointer;
}

.recipeMenu li p {
  margin: 0.5rem 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.recipeMenu li span {
  margin-right: 10px;
  width: calc(100%-10px);
}

.recipeMenu.showMenu {
  visibility: visible;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 100%;
}

.feedSection {
  margin-top: 90px;
}

.numLikes {
  margin-left: 5px;
}

/* Função de editar receitas:  */

.current-option-edit-recipe {
  display: none;
}

.textarea-edit-recipe {
  resize: none;
  width: 200px;
  height: 100px;
  border: 1px solid rgb(247, 193, 245);
}

.input-edit-recipe, .option-edit-recipe, .select-edit-recipe {
  width: 100px;
  background-color: rgb(248, 222, 247);
}

.post-date {
  font-size: 14px;
}

.userLevel {
  align-self: center;
}

.title-level {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.like-date {
  justify-content: space-between;
  display: flex;
}

.userAuthor {
  font-size: 14px;
  width: 50%;
}
/* Fim de função de editar receitas:  */




/* =================================  Página de search =================================== */

.searchBox {
  position: relative;
  height: 35px;
  float: right;
  overflow: hidden;    
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  margin-right: 1rem;
  width: 100%;
}

.inputSearch {
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background: #dcddd8;
  width: 100%;
  height: 35px;
  padding: 0px 35px 0px 15px;
  font-size: 20px;
  color: #000;
}

.inputSearch:focus {
  box-shadow: 0 0 0 0;
}

.inputSearch::placeholder {
  font-size: 0.8rem;
}

.searchbox-icon,
.submit-search {
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  top: 0;
  font-size: 22px;
  right: 0;
  border: 0;
  outline: 0;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  color: #dcddd8;
  background: #172b3c;
}
.goback-icon {
  width: 35px;
  height: 35px;
  display: block;
  font-size: 22px;
  border: 0;
  outline: 0;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  color: #dcddd8;
  background-color: transparent;
  margin: auto 1rem;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

.searchContainer {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 0.7s ease-out 0s 1 slideInFromRight;
}


@media screen and (min-width: 481px) and (max-width: 768px){
  body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/food.png");
    /* Background pattern from Toptal Subtle Patterns */
  }

  .initialForm {
    width: 80%;
  }

  .recipeInfo-box {
    height: 57px;
  }

  .post-photo {
    height: 250px;
  }
 
}

@media screen and (min-width: 769px){

  body {
    background-color: rgb(219, 219, 219);
  }

  .screenContainerBody {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/food.png");
    /* Background pattern from Toptal Subtle Patterns */
  }

  .flexRowReverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .initialForm {
    width: 40vw;
    margin: 0px;
    background-color: rgba(var(--beeswax), 0.6);
    padding: 5%;
    border-radius: 5px;
  }

  .logo {
    width: 35vw;
    margin: 0px;
    padding: 5%;
  }

  .recipeInfo-box {
    height: 67px;
  }
  
  .div-recipe {
    max-width: 500px;
    width: 90%;
  }

  .post-photo {
    height: 260px;
  }

  .postRecipeForm {
    width: 700px;
    padding: 25px 50px;
    background-color: var(--pantone-142c);
  }

  #post-recipe-title, #recipes-title {
    width: 630px;
  }

  #menu {
    display: flex;
    visibility: visible;
    background-color: transparent;
    width: auto;
    position: relative;
    flex-wrap: nowrap;
  }

  #menu a{
    border: none;
    margin: auto;
    color: var(--pantone-142c);
  }

  #btn-mobile {
    display: none;
  }

  #header {
    justify-content: space-around;
  }

  .mainContent {
    justify-content: flex-start;
    margin: 0;
  }

  .profile-nav-bar {
    position: fixed;
    float: left;
    width: 300px;
    margin-top: 70px;
    margin-bottom: 0;
    border-radius: 0;
    /* height: calc(100% - 109px); */
    height: calc(100% - 70px);
  }

  .profileInfo {
    margin-top: 60px;
  }

  footer {
    z-index: 2;
    display: flex;
    justify-content: center;
    height: 39px;
  }

  footer a {
    margin-left: 1rem;
  }

  .editProfileForm {
    top: 100px;
  }

  .myrecipesSection, .profileSection {
    float: left;
    width: calc(100% - 300px);
    margin-left: 300px;
    margin-top: 70px;
  }

  .welcomeProfile {
    position: absolute;
    top: 70px;
    left: 300px;
    width: calc(100% - 300px);
    height: calc(100% - 109px);
    font-size: 2rem;
    margin: 0;
  }


}

